@model Patently.Models.Creator
@{
    ViewData["Title"] = "Nowy Twórca";
    Layout = "_Layout";
}

<h1>Nowy Twórca</h1>
<hr/>
<form asp-action="New">
    <label for="Name">Imię: </label>
    <input type="text" name="Name" class="form-control"/><br/>
    <label for="SecName">Nazwisko: </label>
    <input type="text" name="SecName" class="form-control"/><br/>
    <button type="submit" class="btn btn-primary">Stwórz</button>
</form>

