@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Nowy Przedmiot</h1>
<hr/>
<form asp-action="New">
    <label for="Name">Nazwa: </label>
    <input type="text" name="Name" class="form-control"/><br/>
    <label for="DateWhenOwned">Data: </label>
    <input type="date" name="DateWhenOwned" class="form-control"/><br/>
    <label for="Creator">Twórca: </label>
    <p>Zrobić liste albo tabelkę wszystkich twórców</p>
    <button type="submit" class="btn btn-primary">Stwórz</button>
</form>